<div class="container">

    <div>
        1st value: <input [(ngModel)]="val1">    
    </div>

    <div>
        2nd value: <input [(ngModel)]="val2">
    </div>

    <div>
        Answer =  {{calculate()}}
    </div>
</div>