<div class="jumbotron container-fluid">
    <h1>Birthday Dates</h1>
    <h3>{{birthday | date}}</h3>
    <h3>{{birthday | date : "dd/MM/yy"}}</h3>

    <br/><br/>
    <button (click)="toggleFormat()"  class="btn btn-primary">
        Click me!
    </button>
    <h3>{{birthday | date : getFormat() | uppercase }}</h3>
</div>