<div class='panel panel-primary'>
        <div class='panel-heading'>
            {{pageTitle}} <!--interpolation-->
        </div>
        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-2'>Filter by:</div>
                <div class='col-md-4'>
                    <input type="text"
                        [(ngModel)] = 'listFilter'/>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <h3>Filtered by: {{_listFilter}}  </h3>
                </div>
            </div>
            <div class='table-responsive'>
                <table class='table tab' 
                    *ngIf='products && products.length'>   
                    <thead>
                        <tr class="tableHeader"> <!-- this row will display the fields-->
                            <th class ="c">
                                <button (click)='toggleImage()'class='btn btn-primary'>
                                    {{showImage ? 'Hide':'Show'}} Image
                                </button>
                            </th>
                           
                            <th>Product</th>
                            <th>Code</th>
                            <th>Available</th>
                            <th>Price</th>
                            <th>5 Star Rating</th>
                        </tr>
                        
                        <!-- this row will display all json items-->
                        <tr *ngFor='let product of filteredProducts'>
                            <td>
                                <img *ngIf='showImage'   [src]='product.imageUrl'
                                        [title] = 'product.productName'
                                        [style.width.px] =  'imageWidth'
                                        [style.margin.px] = 'imageMargin'/>
                            </td>
                            <th>{{product.productName | uppercase}}</th>
                            <th>{{product.productCode | convertToSpaces:'-'}}</th>
                            <th>{{product.releaseDate}}</th>
                            <th>{{product.price| currency: 'EUR' : '1.2-5' }}</th>
                            <th>{{product.starRating}}</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
    
