<!--The whole content below can be removed with the new code.
This is the pm-root html component.-->

<div style="text-align:center">
  <h1>
    Welcome to {{getTitle()}}!!  <!--This is a template expression -->
  </h1>

  <br/>
  <pm-products></pm-products> <!--pm-root is found in index.html-->
</div>


<!--Birthday Example content-->
<div>
  <birthday-example></birthday-example>
    
</div>

<div>
  <pm-calculator></pm-calculator> 
</div>

